@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Cormorant+Garamond:wght@400;500&family=DM+Sans:wght@400;500&family=Domine:wght@400;500&family=Heebo:wght@400;500;600&family=Lexend+Deca&family=Open+Sans:wght@400;500;600&family=Red+Hat+Display:wght@400;500;600&family=Roboto+Mono:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    padding: 30px 0;
    font-family: monospace;
}
.box{
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box img{
   width: 200px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    display: block;
    margin: 40px auto;
    padding: 13px 36px;
    border: 1px solid #458ff6;
    color: #458ff6;
    background-color:transparent;
    border-radius: 22px;
    cursor: pointer;
    transition: .3s;
}
.navbar_link{
    font-size: 18px;
    margin-right: 40px;
    color: #a9a9a9;
}
.navbar_link:hover{
    color: rgb(0, 0, 0);
}
.active{
    color: rgb(0, 0, 0);
}

.box i{
    display: none;
    cursor: pointer;
}

/* hero section */
#hero_section{
    margin-bottom: 90px;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
}
.hero{
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.hero_desc{
    width: 46%;
    margin-top: 90px;
}
.hero_title{
    margin-bottom: 20px;
    font-size: 35px;
}
.hero_text{
    color: #9f9f9f;
    margin-bottom: 60px;
}
.hero_btn{
    border: none;
   
}
.hero_link{
    color: #fff;
    padding: 14px 37px;
    border-radius: 23px;
    background-color: dodgerblue;
    cursor: pointer;
}

.hero_img{
    width: 100%;
}

.hero img{
    width: 100%;
    max-width: 600px;
    height: 500px;
    object-fit: contain;
    margin-top: 30px;
}

/* services section */
#services_section{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
    background-image: url("../images/hero-bg2.png");
    background-repeat: no-repeat;
}
.services{
    margin-bottom: 90px;
}

.services_title{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.services_title::before{
    position: absolute;
    top: 40px;
    left: 47%;
    content:'';
    width: 60px;
    height: 2px;
    background-color: #0e2533;
}
.services_text{
    text-align: center;
    color: #9f9f9f;
}


.services_type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service{
    border: 1px solid #ddd;
    margin-bottom: 40px;
    width: 30%;
    padding: 50px 16px;
    border-radius: 10px;
    transition: .4s;
    background-color: #fff;
}
.service:hover{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.service img{
    width: 92px;
    height: 90px;
    margin-bottom: 13px;
    object-fit: contain;
}

.service h3{
   margin-bottom: 14px;
}
.service p{
    color: #9f9f9f;
}

.service_btn{
    display: block;
    margin: 20px auto;
    padding: 14px 38px;
    border-radius: 25px;
    color:#174496 ;
    border: 2px solid #174496;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
}

.service_btn:hover{
   transform: translateY(3px);
}


/* provides section */
#provides_section{
    margin-top: 150px;
    margin-bottom: 80px;
    font-family: 'Mulish', sans-serif;
}
.provides{
    display: flex;
    justify-content: space-between;
}

.provides_img{
    width: 45%;
    margin-right: 70px;
}
.provides_img img{
    width: 100%;
    height: auto;
}

.provides_desc{
    width: 50%;
}

.provides_title{
    margin-bottom: 12px;
  font-size: 36px;
  line-height: 56px;
  color: black;
}
.provides_info{
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
    margin-bottom: 40px;
}
.provides_btn{
    padding: 13px 36px;
    border: 1px solid #458ff6;
    color: #458ff6;
    background-color:transparent;
    border-radius: 22px;
    cursor: pointer;
    transition: .3s;
}
.provides_btn:hover{
    transform: translateY(3px);
}

/* download section */

#download_section{
    margin: 90px 0;
    font-family: 'Mulish', sans-serif;
}

.download{
    display: flex;
    justify-content: space-between;
}
.download_desc{
    padding: 0 20px;
}
.download_title{
    margin-bottom: 12px;
   font-size: 36px;
   line-height: 48px;
}
.download_text{
    font-size: 18px;
    line-height: 30px;
    color: #9f9f9f;
    margin-bottom: 40px;
}
.download_btn{
    display: flex;
    align-items: center;
    padding: 13px 36px;
    border: 1px solid #458ff6;
    color: #458ff6;
    background-color:transparent;
    border-radius: 22px;
    cursor: pointer;
    transition: .2s;
}
.download_btn:hover{
    transform: translateY(2px);
}
.download_btn:hover i{
    transform: translateY(3px);
}
.download_btn i{
    transition: .2s;
    margin-left: 8px;
    font-size: 17px;
}

.download_desc{
    width: 45%;
}

.download_img{
     width: 45%;
}

.download_img img{
    max-width: 600px;
    height: auto;
}

/* customer_section */

#customer_section{
    margin: 150px 0;
    font-family: 'Mulish', sans-serif;
}
.customer_title{
    margin: 10px 0;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    color: #fff;
}
.customer_title hr{
    width: 7%;
    font-weight: 700;
}
.customer_box{
    background-color: #5a98f2;
    padding: 50px 50px;
    border-radius: 40px;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.customer{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.customer_dec{
    width: 50%;
    display: flex;
    align-items: center;
}
.customer_dec img{
    margin-right: 27px;
}
.user_name{
    margin: 0;
    padding: 0;
}
.user_name h3{
    font-size: 22px;
    color: white;
}
.user_name p{
    color: #fff;
}
.customer_article{
    width: 50%;
    color: #fff;
    font-size: 19px;
    line-height: 30px;
}

/* latest section */
#latest_section{
    font-family: 'Mulish', sans-serif;
    background-image: url("../images/latest-bg1.png");
    background-repeat: no-repeat;
    background-position: right;
}
.latest_title{
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 90px;
}
.latest_title hr{
    width: 7%;
    font-weight: 700;
}
.latest{
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.latest_item{
    width: 30%;
    border: 1px solid #dddddd7e;
    border-radius: 20px;
    padding: 0 0 45px 0;
    background-color: #fff;
}

.latest_item img{
    width: 100%;
    width: 351px;
}

.latest_item h3{
   padding: 5px 0 0 20px;
   font-size: 21px;
   line-height: 32px;
   color: #000000;
}
.latest_item p{
    margin-bottom: 13px;
    padding: 5px 25px 0 20px;
    font-size: 16px;
    line-height: 28px;
    color:#7d7987;
 }
 .latest_item a{
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    font-size: 17px;
    line-height: 28px;
    color: #4089ed;
    transition: .2s;
 }
 .latest_item a:hover{
    transform: translateX(2px);
 }
 .latest_item a i{
    margin-top: 4px;
    margin-left: 5px;
    font-size: 20px;
 }
.latest_btn{
    transition: .2s;
}
 .latest_btn:hover{
    transform: translateY(3px);
 }

 /* FOOTER */
 footer{
    margin-top: 70px;
    font-family: 'Mulish', sans-serif;
    background-color: #5a98f2;
    padding: 50px 10px;
    color: #fff;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: left bottom;
 }
 .footer_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .footer_item ul li{
    margin-bottom: 12px;
    transition: .3s;
    cursor: pointer;
 }
 .footer_desc ul li{
    margin-bottom: 28px;
    cursor: pointer;
 }
.footer_item ul li:hover{
    transform: scale(1.095);
 }
 .footer_small_title{
    margin-bottom: 10px;
 }

 @media  only  screen and (max-width: 816px) {

    .navbar{
        display: none;
    }

    .hero_desc{
        width: 46%;
    }

    .hero_img{
        width: 46%;
    }

    .hero img{
      height: 300px;
    }

    .box .bx{
        display: block;
        font-size: 30px;
    }
    .footer_item{
        margin-right: 10px;
    }

    .latest_item{
        margin-bottom: 23px;
    }

    .provides_img img{
        height: 300px;
    }
 }

 @media only screen and (max-width:560px) {


    .hero{
        flex-direction: column;
        align-items: center;
    }

    .hero_desc{
       width: 100%;
       margin-bottom: 20px;
    }

    .hero_img{
        width: 100%;
    }

    .services_type li{
       width: 90%;
       margin: 10px auto;
    }

    #provides_section{
        margin-top: 90px;
    }

    .provides{
        flex-direction: column;
    }

    .provides_img{
        width: 100%;
        margin-bottom: 15px;
    }

    .provides_img img{
        object-fit: contain;
    }

    .provides_desc{
        width: 100%;
    }

    .download{
        flex-direction: column;
    }

    .download_desc{
        width: 100%;
        margin-bottom: 50px;
    }

    .download_img{
        width: 100%;
    }

    .download_img img{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }

    .customer_section{
        margin: 20px 0;
    }

    .customer{
        flex-direction: column;
    }

    .customer_dec{
        flex-direction: column;
       width: 100%;
       margin-bottom: 30px;
    }

    .customer_dec img{
        margin-bottom: 14px;
    }

    .customer_article{
        width: 100%;
    }

    .latest{
        flex-direction: column;
    }

    .latest_item{
        width: 100%;
    }

    .latest_item img{
        width: 100%;
    }

    .footer_desc{
        width: 100%;
        margin-bottom: 12px;
    }

    .footer_item{
        margin-bottom: 14px;
    }
 }